In [1]:
%load_ext autoreload
%autoreload 2

# [borsinopro Calcolatori](https://borsinopro.it/utility/)

## To do:

- planimetric_surfaces

-

In [3]:
from IPython.display import display
import json
import os
import requests

from property_scraper.borsinopro_utility import BorsinoProUtility

In [3]:
first_execution_flag = True

In [4]:
utility = BorsinoProUtility()

In [5]:
await utility.init()

In [6]:
configuration_file = os.path.join(os.path.expanduser('~'), 'property_scraper.json')
print(configuration_file)

/home/emanuele/property_scraper.json

In [7]:
utility.configuration = utility.read_configuration(configuration_file)

dict_keys(['username', 'password', 'purchase_tax', 'cadastal_value', 'real_estate_capital_gain', 'dry_coupon', 'planimetric_surfaces', 'income_capitalization', 'real_estate_profitability', 'bare_ownership_value', 'commercial_surface_coefficients', 'real_estate_trading_business_plan', 'inheritance_shares'])

In [8]:
#print(json.dumps(utility.configuration['utility.borsinopro.it']['addresses'], indent=4))

In [9]:
await utility.login()

## FISCO & IMPOSTE

- Calcolo Imposte e Costi Acquisto
- Calcolo Valore Catastale
- Calcolo Imposte Plusvalenza
- Calcolo Cedolare Secca

### Calcolo Imposte e Costi Acquisto
Lo strumento calcola tutte le imposte di compravendita in base alle tipologie di immobili e venditori.

- TIPOLOGIA IMMOBILIARE
- TIPOLOGIA VENDITORE
- INDIRIZZO IMMOBILE
- RENDITA CATASTALE ABITAZIONE
- RENDITA CATASTALE CANTINA
- RENDITA CATASTALE BOX E P.AUTO
- ONERI NOTARILI
- COMPENSI AGENZIA
- NOTE

In [10]:
utility.purchase_tax = await utility.get_purchase_tax()

  0%|          | 0/1 [00:00<?, ?it/s]

{
    "inputs": {
        "Tipologia immobiliare": "Abitazioni 1° casa (A2, A3, A4, A5, A6, A7, A11)",
        "Tipo venditore": "Privato"
    },
    "results": {
        "Base imponibile": {
            "Valore catastale": "€ 74035.5"
        },
        "Imposte applicate": {
            "Imposta Registro": "€ 1480.71",
            "Imposta Ipotecaria (fissa)": "€ 50",
            "Imposta Catastale (fissa)": "€ 50",
            "*Note": [
                "Imposta registro",
                " 2%"
            ],
            "Imposte acquisto": "€ 1580.71",
            "Oneri Notarili": "€ 100.00",
            "Spese Agenzia": "€ 100.00"
        },
        "TOTALE": "€ 1780.71"
    },
    "type": "Imposte e Costi acquisto"
}

In [11]:
print(json.dumps(utility.purchase_tax, ensure_ascii=False, indent=4))

{
    "inputs": {
        "Tipologia immobiliare": "Abitazioni 1° casa (A2, A3, A4, A5, A6, A7, A11)",
        "Tipo venditore": "Privato"
    },
    "results": {
        "Base imponibile": {
            "Valore catastale": "€ 74035.5"
        },
        "Imposte applicate": {
            "Imposta Registro": "€ 1480.71",
            "Imposta Ipotecaria (fissa)": "€ 50",
            "Imposta Catastale (fissa)": "€ 50",
            "*Note": [
                "Imposta registro",
                " 2%"
            ],
            "Imposte acquisto": "€ 1580.71",
            "Oneri Notarili": "€ 100.00",
            "Spese Agenzia": "€ 100.00"
        },
        "TOTALE": "€ 1780.71"
    },
    "type": "Imposte e Costi acquisto"
}

### Calcolo Valore Catastale

Il valore catastale o valore fiscale di un immobile, rappresenta la base di calcolo per il pagamento di diverse imposte, quali: imposte di successione, imposte di donazione e imposte di registro, ipotecarie e catastali (in caso di acquisto di immobili ad uso abitativo e relative pertinenze – ovvero il "prezzo valore").

Il valore catastale è utilizzato anche come riferimento per determinare il valore minimo annuo del canone di locazione che per legge non può essere inferiore al 10% del valore catastale calcolato.

Inputs:
- INDIRIZZO IMMOBILE
- SELEZIONA CATEGORIA CATASTALE
- INSERISCI RENDITA CATASTALE - NON RIVALUTATA
- Immobile 1°casa

In [12]:
utility.cadastal_value = await utility.get_cadastal_value()

  0%|          | 0/1 [00:00<?, ?it/s]

{
    "results": {
        "Valore catastale": "€ 74035.5"
    },
    "type": "Valore catastale"
}

In [13]:
print(json.dumps(utility.cadastal_value, ensure_ascii=False, indent=4))

{
    "results": {
        "Valore catastale": "€ 74035.5"
    },
    "type": "Valore catastale"
}

### Calcolo Imposte Plusvalenza

 La plusvalenza immobiliare consiste nel guadagno realizzato rivendendo un immobile a un prezzo più alto di quello di acquisto entro 5 anni dell'acquisto stesso. Sulla plusvalenza è tassata nella misura del 26%.

Non si paga la plusvalenza immobiliare quando:
- si riceve un immobile in eredità e si decide di metterlo in vendita;
- si acquista un immobile e lo si vende dopo un periodo di 5 anni;
- si acquista un immobile con agevolazione di prima casa e per la maggior parte del periodo tra acquisto e vendita l'alloggio viene utilizzato come abitazione principale.

Inputs:
- INDIRIZZO IMMOBILE
- PREZZO ACQUISTO
- COSTI DETRAIBILI
- PREZZO DI RIVENDITA

Costi detraibili
- Oneri fiscali per l' acquisto (Imposta registro o IVA ed eventuali imposte ipotecarie e catastali)
- Spese notarili (costi per stipula compromesso, rogito ed altri servizi notarili legati all' acquisto)
- Eventuali spese mediazione (provvigioni agenzia per acquisto e vendita)
- Costi di ristrutturazione e collegati
- Tutti i costi che contribuiscono ad aumentare il valore dell' immobile apportandone miglioramenti concreti

Costi non detraibili
- Costi ordinari che attengono solo alla manutenzione e/o gestione del bene (ad es. condominio ed utenze)
- Spese che non apportino maggior valore all' immobile

In [14]:
utility.real_estate_capital_gain = await utility.get_real_estate_capital_gain()

  0%|          | 0/1 [00:00<?, ?it/s]

['Plusvalenza', 'Plusvalenza Ottenuta', '€ -541', 'Imposta sulla Plusvalenza', '€ -140']
{
    "results": {
        "Plusvalenza Ottenuta": "€ -541",
        "Imposta sulla Plusvalenza": "€ -140"
    },
    "type": "Plusvalenza"
}

In [15]:
print(json.dumps(utility.real_estate_capital_gain, ensure_ascii=False, indent=4))

{
    "results": {
        "Plusvalenza Ottenuta": "€ -541",
        "Imposta sulla Plusvalenza": "€ -140"
    },
    "type": "Plusvalenza"
}

### Calcolo Cedolare Secca

La cedolare secca è un regime di tassazione sulle locazioni di immobili, ad uso residenziale scelto facoltativamente dal contribuente in sostituzione di tutte le altre forme di prelievo fiscale sul reddito di quelle locazioni.

- INDIRIZZO IMMOBILE
- CANONE MENSILE
- TIPO CONTRATTO DI LOCAZIONE

In [16]:
utility.dry_coupon = await utility.get_dry_coupon()

  0%|          | 0/1 [00:00<?, ?it/s]

{
    "results": {
        "Imposta annuale": "€ 1260",
        "Canone mensile netto": "€ 395"
    },
    "type": "Cedolare secca"
}

In [17]:
print(json.dumps(utility.dry_coupon, ensure_ascii=False, indent=4))

{
    "results": {
        "Imposta annuale": "€ 1260",
        "Canone mensile netto": "€ 395"
    },
    "type": "Cedolare secca"
}

## MISURAZIONI & VALUTAZIONI
- Calcolo Superfici Planimetrie
- Stima Capitalizzazione Redditi
- Calcolo Redditività Immobile
- Calcolo Valore Nuda Proprietà
- Coefficienti superfici commerciali

### Calcolo Superfici Planimetrie

Inputs:

- INDIRIZZO IMMOBILE
- TIPOLOGIA IMMOBILIARE DA MISURARE
- SCALA PLANIMETRIA
- SELEZIONA AMBIENTE DA MISURARE
- INSERISCI  MISURA LATO 1
- INSERISCI  MISURA LATO 2
- FORMA SUPERF. (Triangolare)
-

In [18]:
#utility.planimetric_surfaces = await utility.get_planimetric_surfaces()

In [19]:
#print(json.dumps(utility.planimetric_surfaces, ensure_ascii=False, indent=4))

### Stima Capitalizzazione Redditi

La stima per capitalizzazione dei redditi é l' operazione matematico finanziaria per determinare il valore di mercato di un immobile dividendo il reddito il reddito annuo di locazione (o potenziale reddito annuo) per il tasso di capitalizzazione, variabile a seconda della tipologia immobiliare. Il procedimento si basa sull' assunto che un immobile vale tanto quanto rende.

Inputs:
- INDIRIZZO IMMOBILE
- CANONE MENSILE
- RENDIMENTO LORDO TASSO CAPITALIZZAZIONE

In [21]:
utility.income_capitalization = await utility.get_income_capitalization()

  0%|          | 0/4 [00:00<?, ?it/s]

,Indirizzo immobile,Canone_mensile,Tasso_capitalizzazione,Valore
Address Id,,,,
1,undisclosed1,500,5,€ 120000
2,undisclosed2,500,4,€ 150000
3,undisclosed3,500,3,€ 200000
4,undisclosed4,500,2,€ 300000

In [22]:
print(f"The shape of 'income_capitalization' is {utility.income_capitalization.shape}.\n")
display(utility.income_capitalization)

The shape of 'income_capitalization' is (4, 4).

,Indirizzo immobile,Canone_mensile,Tasso_capitalizzazione,Valore
Address Id,,,,
1,undisclosed1,500,5,€ 120000
2,undisclosed2,500,4,€ 150000
3,undisclosed3,500,3,€ 200000
4,undisclosed4,500,2,€ 300000

### Calcolo Redditività Immobile

Inputs:

- INDIRIZZO IMMOBILE
- CANONE MENSILE
- VALORE IMMOBILE

In [23]:
utility.real_estate_profitability = await utility.get_real_estate_profitability()

  0%|          | 0/4 [00:00<?, ?it/s]

           Indirizzo immobile  Canone_mensile  Valore_immobile Valore
Address Id
1                undisclosed1             500           100000  6.00%
2                undisclosed2             500           110000  5.45%
3                undisclosed3             500           120000  5.00%
4                undisclosed4             500           150000  4.00%

In [24]:
print(f"The shape of 'real_estate_profitability' is {utility.real_estate_profitability.shape}.\n")
display(utility.real_estate_profitability)

The shape of 'real_estate_profitability' is (4, 4).

           Indirizzo immobile  Canone_mensile  Valore_immobile Valore
Address Id
1                undisclosed1             500           100000  6.00%
2                undisclosed2             500           110000  5.45%
3                undisclosed3             500           120000  5.00%
4                undisclosed4             500           150000  4.00%

### Calcolo Valore Nuda Proprietà

L'istituto della nuda proprietà, oggi tornato in voga, presenta molti vantaggi sia per chi compra che per chi vende. La nuda proprietà, rappresenta il valore di un immobile decurtato dell'usufrutto, ossia del diritto di altro soggetto di usare il dato bene. In pratica: per chi vende la nuda proprietà vuol dire alienare il proprio immobile riservandosi il diritto di viverci; per chi compra, invece, vuol dire acquistare la proprietà pur non potendola utilizzare.

In [25]:
utility.bare_ownership_value = await utility.get_bare_ownership_value()

  0%|          | 0/18 [00:00<?, ?it/s]

,Indirizzo immobile,Valore immobile,Eta usofruttuario,Valore
Address Id,,,,
1,undisclosed1,100000,da 0 a 20 anni (-95%),€ 5000
2,undisclosed2,100000,da 21 a 30 anni (-90%),€ 10000
3,undisclosed3,100000,da 31 a 40 anni (-85%),€ 15000
4,undisclosed4,100000,da 41 a 45 anni (-80%),€ 20000
5,undisclosed5,100000,da 46 a 50 anni (-75%),€ 25000
6,undisclosed6,100000,da 51 a 53 anni (-70%),€ 30000
7,undisclosed7,100000,da 54 a 56 anni (-65%),€ 35000
8,undisclosed8,100000,da 57 a 60 anni (-60%),€ 40000
9,undisclosed9,100000,da 61 a 63 anni (-55%),€ 45000
10,undisclosed10,100000,da 64 a 66 anni (-50%),€ 50000
11,undisclosed11,100000,da 67 a 69 anni (-45%),€ 55000.00000000001
12,undisclosed12,100000,da 70 a 72 anni (-40%),€ 60000
13,undisclosed13,100000,da 73 a 75 anni (-35%),€ 65000
14,undisclosed14,100000,da 76 a 78 anni (-30%),€ 70000
15,undisclosed15,100000,da 79 a 82 anni (-25%),€ 75000
16,undisclosed16,100000,da 83 a 86 anni (-20%),€ 80000
17,undisclosed17,100000,da 87 a 92 anni (-15%),€ 85000
18,undisclosed18,100000,da 93 a 99 anni (-10%),€ 90000

In [26]:
print(f"The shape of 'bare_ownership_value' is {utility.bare_ownership_value.shape}.\n")
display(utility.bare_ownership_value)

The shape of 'bare_ownership_value' is (18, 4).

,Indirizzo immobile,Valore immobile,Eta usofruttuario,Valore
Address Id,,,,
1,undisclosed1,100000,da 0 a 20 anni (-95%),€ 5000
2,undisclosed2,100000,da 21 a 30 anni (-90%),€ 10000
3,undisclosed3,100000,da 31 a 40 anni (-85%),€ 15000
4,undisclosed4,100000,da 41 a 45 anni (-80%),€ 20000
5,undisclosed5,100000,da 46 a 50 anni (-75%),€ 25000
6,undisclosed6,100000,da 51 a 53 anni (-70%),€ 30000
7,undisclosed7,100000,da 54 a 56 anni (-65%),€ 35000
8,undisclosed8,100000,da 57 a 60 anni (-60%),€ 40000
9,undisclosed9,100000,da 61 a 63 anni (-55%),€ 45000
10,undisclosed10,100000,da 64 a 66 anni (-50%),€ 50000
11,undisclosed11,100000,da 67 a 69 anni (-45%),€ 55000.00000000001
12,undisclosed12,100000,da 70 a 72 anni (-40%),€ 60000
13,undisclosed13,100000,da 73 a 75 anni (-35%),€ 65000
14,undisclosed14,100000,da 76 a 78 anni (-30%),€ 70000
15,undisclosed15,100000,da 79 a 82 anni (-25%),€ 75000
16,undisclosed16,100000,da 83 a 86 anni (-20%),€ 80000
17,undisclosed17,100000,da 87 a 92 anni (-15%),€ 85000
18,undisclosed18,100000,da 93 a 99 anni (-10%),€ 90000

### Coefficienti superfici commerciali

La superficie commerciale è uno degli elementi necessari per calcolare il valore di mercato degli immobili. Per Superficie Commerciale Vendibile (SCV) si intende la superficie complessiva basata sulla somma delle superfici ponderate che compongono il bene immobiliare. Le unità immobiliari sono composte, da superficie principale e da superfici accessorie. La superficie commerciale vendibile (SCV) è ottenuta omogeneizzando, con opportuni coefficienti di ragguaglio, le superfici accessorie a quella principale.

In [27]:
if first_execution_flag:
    utility.commercial_surface_coefficients = await utility.get_commercial_surface_coefficients()
    first_execution_flag = False

  0%|          | 0/11 [00:00<?, ?it/s]

           Tipo superfice Coefficiente Note Dettaglio Tipologia Immobile
0       Superfici Coperte        100 %                             Ville
1  Superfici Seminterrate         75 %                             Ville
2        Verande Rifinite         80 %                             Ville
3    Verande Non Rifinite         60 %                             Ville
4     Soppalchi Abitabili         80 %                             Ville

In [28]:
if first_execution_flag:
    print(f"The shape of 'commercial_surface_coefficients' is {utility.commercial_surface_coefficients.shape}.\n")
    display(utility.commercial_surface_coefficients[utility.commercial_surface_coefficients['Tipo superfice'] == 'Superfici Coperte'].head(10))

## TRADING IMMOBILIARE

### Conto Economico Trading Immobiliare

Per Trading Immobiliare si intende un operazione di:
- acquisto immobile ad un prezzo più basso rispetto alla media del mercato;
- aggiunta di valore con opere di ristrutturazione o frazionamento;
- rivendita in tempi ristretti ad una cifra superiore rispetto all' intero importo speso tra acquisto e sistemazione.

Il conto economico immobiliare è lo strumento per valutare se una operazione di Trading Immobiliare è più o meno vantaggiosa.

Inputs:
- INDIRIZZO IMMOBILE
- PREZZO ACQUISTO
- PREZZO DI RIVENDITA
- COSTI DETRAIBILI
- COSTI NON DETRAIBILI

Costi detraibili
- Oneri fiscali per l' acquisto (Imposta registro o IVA ed eventuali imposte ipotecarie e catastali)
- Spese notarili (costi per stipula compromesso, rogito ed altri servizi notarili legati all' acquisto)
- Eventuali spese mediazione (provvigioni agenzia per acquisto e vendita)
- Costi di ristrutturazione e collegati
- Tutti i costi che contribuiscono ad aumentare il valore dell' immobile apportandone miglioramenti concreti

Costi non detraibili
- Costi ordinari che attengono solo alla manutenzione e/o gestione del bene (ad es. condominio ed utenze)
- Spese che non apportino maggior valore all' immobile

In [29]:
utility.real_estate_trading_business_plan = await utility.get_real_estate_trading_business_plan()

  0%|          | 0/1 [00:00<?, ?it/s]

{
    "results": {
        "Plusvalenza ottenuta": "€ 70000",
        "Imposta Plusvalenza": "€ 18200",
        "Utile Netto": "€ 36800",
        "Redditività (ROI)": "22.55 %"
    },
    "type": "Conto Economico"
}

In [30]:
print(json.dumps(utility.real_estate_trading_business_plan, ensure_ascii=False, indent=4))

{
    "results": {
        "Plusvalenza ottenuta": "€ 70000",
        "Imposta Plusvalenza": "€ 18200",
        "Utile Netto": "€ 36800",
        "Redditività (ROI)": "22.55 %"
    },
    "type": "Conto Economico"
}

## EREDITÀ E SUCCESSIONI

### Ripartizione Quote Ereditarie

L'applicazione calcola le quote ereditarie spettanti a ciascun erede in caso di successione leggittima.

I parenti che possono ereditare in caso di successione legittima (in mancanza di testamento) sono:
1) Coniuge
2) Figli
3) Ascendenti (genitori o nonni) in assenza di figli
4) Fratelli in assenza di figli
5) Altri parenti fino al 6° grado (se unici eredi)*
6) Lo stato in assenza di parenti fino al 6° grado

*I parenti fino al 6° grado sono, ad esempio, i figli di fratelli (cugini), che sono parenti di quarto grado, i nipoti in linea retta dei cugini, che sono parenti di sesto grado.

Inputs:
- INDIRIZZO IMMOBILE
- INSERIRE IMPORTO EREDITÀ
- CONIUGE
- N° FIGLI
- ASCENDENTI - GENITORI O NONNI (IN ASSENZA DI FIGLI)
- N° FRATELLI - (IN ASSENZA DI FIGLI)
- N° PARENTI FINO AL 6° GRADO - (SE UNICI EREDI)

In [31]:
utility.inheritance_shares = await utility.get_inheritance_shares()

  0%|          | 0/5 [00:00<?, ?it/s]

           Aventi Diritto Euro spettanti proquota Indirizzo immobile
Address Id
1                 Coniuge                33300.00       undisclosed1
1                   Figli                33300.00       undisclosed1
2                   Figli                50000.00       undisclosed2
3              Ascendenti                50000.00       undisclosed3
3                Fratelli                25000.00       undisclosed3
4                Fratelli                50000.00       undisclosed4
5                 Parenti                25000.00       undisclosed5

In [32]:
print(f"The shape of 'inheritance_shares' is {utility.inheritance_shares.shape}.\n")
display(utility.inheritance_shares)

The shape of 'inheritance_shares' is (7, 3).

           Aventi Diritto Euro spettanti proquota Indirizzo immobile
Address Id
1                 Coniuge                33300.00       undisclosed1
1                   Figli                33300.00       undisclosed1
2                   Figli                50000.00       undisclosed2
3              Ascendenti                50000.00       undisclosed3
3                Fratelli                25000.00       undisclosed3
4                Fratelli                50000.00       undisclosed4
5                 Parenti                25000.00       undisclosed5

In [33]:
await utility.browser.close()