In [1]:
%load_ext autoreload
%autoreload 2

# Cashflows

Author: 

Extracted from example [here](https://cashflows.readthedocs.io/en/latest/tvmm.html#overview).

In [36]:
from cashflows import tvmm, amortize, cashflow, interest_rate, after_tax_cashflow

### Details

The amortize function computes and returns the columns of a amortization schedule of a loan. The function returns the interest payment, the principal repayment, the periodic payment and the balance at the end of each period.

### Examples

The amortization schedule for a loan of 100, at a interest rate of 10%, and a life of 5 periods, can be computed as:

In [3]:
pmt = tvmm(pval=100, nrate=10, nper=5, fval=0)

In [4]:
amortize(pval=100, nrate=10, nper=5, fval=0, noprint=False)

t      Beginning     Periodic     Interest    Principal        Final
       Principal      Payment      Payment    Repayment    Principal
          Amount       Amount                                 Amount
--------------------------------------------------------------------
0         100.00         0.00         0.00         0.00       100.00
1         100.00       -26.38        10.00       -16.38        83.62
2          83.62       -26.38         8.36       -18.02        65.60
3          65.60       -26.38         6.56       -19.82        45.78
4          45.78       -26.38         4.58       -21.80        23.98
5          23.98       -26.38         2.40       -23.98         0.00

In [5]:
amortize(pval=-100, nrate=10, nper=5, fval=0, noprint=False)

t      Beginning     Periodic     Interest    Principal        Final
       Principal      Payment      Payment    Repayment    Principal
          Amount       Amount                                 Amount
--------------------------------------------------------------------
0        -100.00         0.00         0.00         0.00      -100.00
1        -100.00        26.38       -10.00        16.38       -83.62
2         -83.62        26.38        -8.36        18.02       -65.60
3         -65.60        26.38        -6.56        19.82       -45.78
4         -45.78        26.38        -4.58        21.80       -23.98
5         -23.98        26.38        -2.40        23.98        -0.00

In [6]:
amortize(pval=100, nrate=10, nper=5, fval=0, due=1, noprint=False)

t      Beginning     Periodic     Interest    Principal        Final
       Principal      Payment      Payment    Repayment    Principal
          Amount       Amount                                 Amount
--------------------------------------------------------------------
0         100.00       -23.98         0.00       -23.98        76.02
1          76.02       -23.98         7.60       -16.38        59.64
2          59.64       -23.98         5.96       -18.02        41.62
3          41.62       -23.98         4.16       -19.82        21.80
4          21.80       -23.98         2.18       -21.80         0.00
5           0.00         0.00         0.00         0.00         0.00

In [7]:
principal, interest, payment, balance = amortize(pval=100, nrate=10, nper=5, fval=0)
principal, interest, payment, balance

([0,
  -16.37974807947452,
  -18.017722887421975,
  -19.819495176164168,
  -21.801444693780585,
  -23.981589163158645],
 [0,
  10.0,
  8.362025192052547,
  6.560252903310351,
  4.578303385693935,
  2.3981589163158756],
 [0,
  -26.37974807947452,
  -26.37974807947452,
  -26.37974807947452,
  -26.37974807947452,
  -26.37974807947452],
 [100,
  83.62025192052548,
  65.60252903310351,
  45.78303385693934,
  23.981589163158755,
  1.1013412404281553e-13])

In [8]:
principal, interest, payment, balance = amortize(pval=100, nrate=10, nper=5, pmt=pmt)
principal, interest, payment, balance

([0,
  -16.37974807947452,
  -18.017722887421975,
  -19.819495176164168,
  -21.801444693780585,
  -23.981589163158645],
 [0,
  10.0,
  8.362025192052547,
  6.560252903310351,
  4.578303385693935,
  2.3981589163158756],
 [0,
  -26.37974807947452,
  -26.37974807947452,
  -26.37974807947452,
  -26.37974807947452,
  -26.37974807947452],
 [100,
  83.62025192052548,
  65.60252903310351,
  45.78303385693934,
  23.981589163158755,
  1.1013412404281553e-13])

In [9]:
sum(interest)

31.89874039737271

In [10]:
sum(principal)

-99.99999999999989

In [11]:
principal, interest, payment, balance = amortize(fval=0, nrate=10, nper=5, pmt=pmt)

In [12]:
sum(interest)

31.89874039737271

In [13]:
sum(principal)

-99.99999999999989

In [14]:
principal, interest, payment, balance = amortize(pval=100, fval=0, nper=5, pmt=pmt)

In [15]:
sum(interest)

31.898740397372677

In [16]:
sum(principal)

-99.99999999999991

In [17]:
amortize(pval=100, fval=0, nrate=10, pmt=pmt, noprint=False)

t      Beginning     Periodic     Interest    Principal        Final
       Principal      Payment      Payment    Repayment    Principal
          Amount       Amount                                 Amount
--------------------------------------------------------------------
0         100.00         0.00         0.00         0.00       100.00
1         100.00       -26.38        10.00       -16.38        83.62
2          83.62       -26.38         8.36       -18.02        65.60
3          65.60       -26.38         6.56       -19.82        45.78
4          45.78       -26.38         4.58       -21.80        23.98
5          23.98       -26.38         2.40       -23.98         0.00

In [18]:
principal, interest, payment, balance = amortize(pval=100, fval=0, nrate=10, pmt=pmt)

In [19]:
sum(interest)

31.89874039737271

In [20]:
sum(principal)

-99.99999999999989

### Details

The tvmmm function computes and returns the missing value (pmt, fval, pval, nper, nrate) in a model relating a finite sequence of payments made at the beginning or at the end of each period, a present value, a future value, and a nominal interest rate. The time intervals between consecutive payments are assumed to be equal. For internal computations, the effective interest rate per period is calculated as nrate / pyr.

### Examples

This example shows how to find different values for a loan of 5000, with a monthly payment of 130 at the end of the month, a life of 48 periods, and a interest rate of 0.94 per month (equivalent to a nominal interest rate of 11.32%). For a loan, the future value is 0.

Monthly payments: Note that the parameter pmt is set to None.

In [21]:
tvmm(pval=5000, nrate=11.32, nper=48, fval=0, pyr=12)

-130.00599637931407

When the parameter noprint is set to False, a user friendly table with the data computed by the function is print.

In [22]:
tvmm(pval=5000, nrate=11.32, nper=48, fval=0, pyr=12, noprint=False)

Present Value: .......  5000.00
Future Value: ........     0.00
Payment: .............  -130.01
Due: .................      END
No. of Periods: ......    48.00
Compoundings per Year:    12
Nominal Rate: .......     11.32
Effective Rate: .....     11.93
Periodic Rate: ......      0.94

In [23]:
tvmm(pval=5000, nrate=11.32, nper=48, pmt=pmt, fval=None, pyr=12)

-6254.652751253401

In [24]:
tvmm(nrate=11.32, nper=48, pmt=pmt, fval = 0.0, pval=None, pyr=12)

1014.5588978260366

All the arguments support lists as inputs. When a argument is a list and the noprint is set to False, a table with the data is print.

In [25]:
tvmm(pval=[5, 500, 5], nrate=11.32, nper=48, fval=0, pyr=12, noprint=False)

#   pval   fval    pmt   nper  nrate  erate  prate due
------------------------------------------------------
0   5.00   0.00  -0.13  48.00  11.32  11.93   0.94 END
1 500.00   0.00  -0.13  48.00  11.32  11.93   0.94 END
2   5.00   0.00  -0.13  48.00  11.32  11.93   0.94 END

In [26]:
tvmm(pval=5000, nper=48, pmt=pmt, fval = 0.0, pyr=12)

-55.73059025743211

In [27]:
tvmm(pval=5000, nrate=11.32/12, pmt=pmt, fval=0.0)

/home/emanuele/.conda/envs/py311/lib/python3.11/site-packages/numpy_financial/_financial.py:297: RuntimeWarning: invalid value encountered in log
  B = np.log((-fv+z) / (pv+z))/np.log(1+rate)

nan

In [30]:
cashflow(const_value=1.0, start='2000Q1', periods=8, freq='Q')

2000Q1    1.0
2000Q2    1.0
2000Q3    1.0
2000Q4    1.0
2001Q1    1.0
2001Q2    1.0
2001Q3    1.0
2001Q4    1.0
Freq: Q-DEC, dtype: float64

In [31]:
cashflow(const_value=[10]*10, start='2000Q1', freq='Q')

2000Q1    10.0
2000Q2    10.0
2000Q3    10.0
2000Q4    10.0
2001Q1    10.0
2001Q2    10.0
2001Q3    10.0
2001Q4    10.0
2002Q1    10.0
2002Q2    10.0
Freq: Q-DEC, dtype: float64

In [32]:
x = cashflow(const_value=[0, 1, 2, 3], start='2000Q1', freq='Q')
x[3] = 10
x

2000Q1     0.0
2000Q2     1.0
2000Q3     2.0
2000Q4    10.0
Freq: Q-DEC, dtype: float64

In [33]:
x['2000Q4'] = 0
x

2000Q1    0.0
2000Q2    1.0
2000Q3    2.0
2000Q4    0.0
Freq: Q-DEC, dtype: float64

In [34]:
cashflow(const_value=[0, 1, 2, 3, 4, 5], freq='Q', start='2000Q1').cumsum()

2000Q1     0.0
2000Q2     1.0
2000Q3     3.0
2000Q4     6.0
2001Q1    10.0
2001Q2    15.0
Freq: Q-DEC, dtype: float64

In [38]:
cflo = cashflow(const_value=[-50] + [100] * 4, start='2010', freq='A')
cflo

2010    -50.0
2011    100.0
2012    100.0
2013    100.0
2014    100.0
Freq: A-DEC, dtype: float64

In [39]:
tax_rate = interest_rate(const_value=[10] * 5, start='2010', freq='A')
tax_rate

2010    10.0
2011    10.0
2012    10.0
2013    10.0
2014    10.0
Freq: A-DEC, dtype: float64

In [40]:
after_tax_cashflow(cflo=cflo, tax_rate=tax_rate)

2010     0.0
2011    10.0
2012    10.0
2013    10.0
2014    10.0
Freq: A-DEC, dtype: float64